
html {
    box-sizing: border-box;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px;
  }


body,
h1,
h2,
h3,
h4,
h5,
h6, 
ol,
ul {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing : antialiased; 
}
ol,
ul {
    list-style: none;
}
img {
    width: 100%;
    height: auto;
}

body {
    background-color: #001C30;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}
.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}