@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #888 transparent;
}
