.button {
    background: transparent;
    padding: 10px 35px;
    color: #fff;
    border: 2px solid #001C30;
    border-radius: 30px;
    margin: 1.2rem;
    transition: 0.3s all;
    cursor: pointer;
}
.button:hover {
    background-color: #001C30;
}